# fly.toml file generated for garrulus on 2023-12-03T11:52:16Z

app = "garrulus"
kill_signal = "SIGTERM"
kill_timeout = 5
mounts = []
processes = []
swap_size_mb = 512

[deploy]
  release_command = "/app/bin/migrate"

[env]
  PHX_HOST = "feeds.thraxil.org"
  PORT = "8080"

[metrics]
port = 8080
path = "/metrics"

[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 1000
    soft_limit = 1000
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
